@{
    ViewData["Title"] = "References";
}


<div class="text-center">
    <h1 class="display-4">References</h1>
    <p>Reference page</p>
    <p><a href="/References/Books">Books</a></p>
    <p><a href="/References/Links">Webpages</a></p>
</div>