@model IEnumerable<UserModel>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
            <tr>
                <th>Users:</th>
                @foreach (var user in Model)
                {
                    <td>@user.Name</td>
                }
            </tr>
        </table>
    </div>
</div>
