@model ForumPostViewModel

@{
    ViewData["Title"] = "Forum";
}

@await Html.PartialAsync("_ForumPostListPartial", Model.Posts)

<div  class="text-center m-auto">
    <a class="btn btn-success" href="/Home/AddPost">Create Post</a>
</div>