@{
    //Homepage
    ViewData["Title"] = "Home";
}

<div class="jumbotron-fluid text-center p-4" id="back-blue">
    <h1 class="display-4">Scandinavian Food</h1>

    <p>
        This site features images, recipes, and information
        surrounding Scandinavian food.
    </p>
</div>
<div class="container text-center" id="back-grey">

    <div class="btn-group" role="group">
        <a href="/Home/Overview" class="btn btn-lg btn-primary">Overview</a>
        <a href="/Home/Forum" class="btn btn-lg btn-primary">Forum</a>
        <a href="/Home/Quiz" class="btn btn-lg btn-primary">Quiz</a>
    </div>
</div>