@model IEnumerable<User>
@{
    ViewData["Title"] = "Scandinavian Food";
}

<div class="jumbotron-fluid text-center p-4" id="back-blue">
    <h1 class="display-4">Scandinavian Food</h1>

    <p>
        This site will feature images, recipes, and information
        surrounding Scandinavian food.
    </p>
</div>
<div class="container text-center" id="back-grey">

    <p class="m-3 p-5">
        <a href="/Home/Overview" class="btn btn-lg btn-primary m-3 col-4">Overview</a>
        <a href="/Home/Forum" class="btn btn-lg btn-primary m-3 col-4">Forum</a>
        <a href="/Home/Quiz" class="btn btn-lg btn-primary m-3 col-4">Quiz</a>
    </p>

    <div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
            <tr>
                <th>Users:</th>
                    @if (Model != null)
                    {
                        foreach (var user in Model)
                        {
                            <td>@user.Username</td>
                        }
                    }
                </tr>
        </table>
    </div>
</div>
    <br />

    <a class="btn btn-success" href="/Home/AddUser">Add User</a>

</div>