@{
    //Homepage
    ViewData["Title"] = "Home";
}

<div class="text-center p-2">
    <h1>Scandinavian Food</h1>

    <p>
        This site features images, recipes, and information
        surrounding Scandinavian food.
    </p>
</div>
<div class="container-fluid homepic text-center mb-0">
    <img class="img-fluid rounded-3 mb-0" src="~/images/lefse.jpeg" alt="Stack of Lefse" />
</div>
