@{
    //Homepage
    ViewData["Title"] = "Home";
}

<div class="text-center p-2">
    <h1>Scandinavian Food</h1>

    <p>
        This site features a dynamic forum and a quiz about Scandinavian food.
    </p>
</div>
<div class="homepic text-center mb-0 full-screen">
    <img class="img-fluid rounded-5 mb-0" src="~/images/lefse.jpeg" alt="Stack of Lefse" />
</div>
