@{
    //Homepage
    ViewData["Title"] = "Home";
    ViewBag.Current = "Home";
}

<div class="text-center p-2">
    <h1 class="display-4">Scandinavian Food</h1>

    <p>
        This site features images, recipes, and information
        surrounding Scandinavian food.
    </p>
</div>
<div class="container text-center">

    <div>
        <a href="/Home/Forum" class="btn btn-lg btn-outline-primary p-3 m-3 col-3">Forum</a>
        <a href="/Home/Overview" class="btn btn-lg btn-outline-primary p-3 m-3 col-3">Overview</a>
        <a href="/Home/Quiz" class="btn btn-lg btn-outline-primary p-3 m-3 col-3">Quiz</a>
    </div>
</div>
<div class="homefish"></div>
