@{
    ViewData["Title"] = "Overview";
    ViewData["Active"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Overview</h1>
    @* TODO: write an overview *@
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta sit amet turpis eleifend blandit. Donec at sem lorem. Nunc finibus aliquet erat, ac ultrices nisi aliquam vel. Vestibulum id velit viverra, pellentesque lectus ac, tincidunt lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan est et posuere venenatis. Mauris pellentesque nec sapien ut sodales. Quisque vel tellus feugiat, accumsan ligula vel, facilisis turpis. In luctus massa nulla, vel tristique tortor feugiat eu. Maecenas nec aliquet quam. Vestibulum nec sagittis erat. Morbi eget dui vitae nunc sollicitudin rhoncus id ut leo. Proin vitae lacinia neque.
    </p>
    <p>Praesent sed velit elit. Phasellus tincidunt elementum tortor, non ultricies turpis scelerisque non. Sed imperdiet gravida tempor. Vestibulum aliquam nisi massa, nec ultrices nulla aliquam in. Quisque orci lacus, fermentum nec fermentum ultrices, pharetra eget sem. Praesent et lectus libero. Vestibulum sit amet interdum est. Nullam auctor laoreet risus, ut varius magna hendrerit ornare. Aliquam sit amet lobortis ipsum. Suspendisse cursus, tellus et congue fringilla, libero nisi rhoncus felis, sit amet gravida tortor felis nec nisl. Phasellus id diam egestas, euismod mauris sed, pharetra elit. Mauris vitae arcu arcu. Vivamus consequat dolor ipsum, a fermentum ex malesuada eget. Praesent volutpat posuere ligula id placerat.</p>
</div>
