@model QuizState

@{
    ViewData["Title"] = "Quiz";
    ViewData["Active"] = "Home";
    var username = "Anonymous";
    if (User.Identity.Name != null)
    {
        username = User.Identity.Name;
    }

}
<div class="container text-center">
    <h4>What is the most popular fish to eat in Scandinavia?</h4>

<form asp-action="Quiz" method="post">
    <input type="radio" asp-for="Question1" value="A" /> A: Cod <br />
    <input type="radio" asp-for="Question1" value="B" /> B: Tilapia <br />
    <input type="radio" asp-for="Question1" value="C" /> C: Salmon <br />
    <input type="radio" asp-for="Question1" value="D" /> D: Herring <br />
    <span asp-validation-for="Question1" class="text-danger"></span>  

    <br />
    <h4>Are meatballs served larger in Sweden or Norway?</h4>


    <input type="radio" asp-for="Question2" value="A" /> A: Sweden <br />
    <input type="radio" asp-for="Question2" value="B" /> B: Norway <br />
    <span asp-validation-for="Question2" class="text-danger"></span>  
    <br />
    <h4>Lutfisk is: ___</h4>


    <input type="radio" asp-for="Question3" value="A" /> A: Cod preserved in lye <br />
    <input type="radio" asp-for="Question3" value="B" /> B: Fermented shark <br />
    <input type="radio" asp-for="Question3" value="C" /> C: Fermented herring <br />
    <span asp-validation-for="Question3" class="text-danger"></span>  
    <br />
    <button type="submit" class="btn btn-lg btn-outline-primary m-3 col-2">Submit</button>
</form>
<br /><br /><br /><br />
<h3>User: @username </h3>

@if (Model.Score < 3)
{
    <h2 class="text-danger">Score: @Model.Score / 3</h2>
}
@if (Model.Score == 3)
{
    <h2 class="text-success">Score: @Model.Score / 3</h2>
    <p class="text-success">Good Job!</p>
}
</div>

