@model ReplyVM

@{
    ViewData["Title"] = "Reply";
}
<div class="text-center m-auto">
    <h3 class="mb-3">Reply to this post:</h3>
    <h2>@ViewBag.Post</h2>
    <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post">
        <p>Reply:</p>
        <textarea placeholder="Add a public reply..." class="col-6" asp-for="ReplyText"></textarea>
        <br /><br />
        <input type="hidden" value="@Model.ForumPostId" asp-for="ForumPostId"/>
        <button type="submit" class="btn btn-primary mb-3 col-1">Reply</button>
    </form>
</div>